//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------

// Colors
$color-site-bg:      #eee;
$color-font:         #333;

// Fonts
$font-sans:  'Source Sans Pro', sans-serif;